@charset "UTF-8";
body,html {
    font-family: "Shippori Mincho B1";
    color: #292E3B;
    letter-spacing: 0.1em;
    line-height: 2;
}
.c-yellow {
    color: #FFC300;
}
.c-blue {
    color: #3579D2;
}
.show {
  -ms-filter: blur(0px) !important;
  filter: blur(0px) !important;
}



.sec {
    width: 100%;
    height: 100dvh;
    background: #FFF;
    padding: 120px 8%;
}
.sec + .sec {
    border-top: 1px solid #DDD;
}
.sec .secTitle {
    text-align: center;
}
.sec .secTitle strong {
    font-family: "Outfit";
    font-size: 54px;
    font-weight: 400;
    display: block;
    line-height: 1;
}
.sec .secTitle span {
    font-size: 12px;
    font-weight: 500;
    display: block;
    line-height: 1;
    margin-top: 15px;
}
.sec .secText {
    text-align: center;
    margin-top: 40px;
    line-height: 2.25;
}
.sec .secTextBig {
    font-size: 20px;
    line-height: 2;
}
.sec .secTextBig strong {
    font-size: 24px;
    font-weight: 500;
    -ms-filter: blur(6px);
    filter: blur(6px);
    transition: all 0.3s ease;
}
.sec .secTextBig strong.show {
    -ms-filter: blur(0px);
    filter: blur(0px);
}
.sec .secTextBig + p {
    margin-top: 20px;
}
#intro {
    position: relative;
    overflow: hidden;
    background: url(../images/bg_frame.png) center / cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
#intro::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/bg_sakura.svg) center / cover no-repeat;
    background-attachment: fixed;
    opacity: 0.5;
    z-index: -1;
}
#intro .secInner {

}